@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/* global style */
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* My body */
body {
  background-color: #e5e5e5;
}

html {
  scroll-behavior: smooth;
}

/* My content style */
.content {
  background-color: #fff;
}

/* Header placeholder */
.header-toolbar-container {
  width: 100vw;
  height: 45px;
  display: flex;
  position: fixed;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 100;
}

/* Logo container */
.logo-container {
  width: 100px;
  height: 100%;
  padding: 10px 12px;
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
}

/* My logo */
.logo-item {
  height: 25px;
  padding-top: 2px;
  cursor: pointer;
}

.logo {
  color: #6070ff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  text-decoration: none;
  transition: transform 200ms ease-out, color 200ms ease-out;
  display: inline-block;
}

.logo:hover {
  transform: scale(1.1);
  color: #3347fa;
}

/* Menu container */
.menu-container {
  width: 100px;
  height: 100%;
  padding: 10px 12px;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  z-index: 1000;
}

/* My menu */
.mobile-hamburguer {
position: absolute;
top: 20px;
right: -40px;
transform: translate(-50%,-50%);
height: 80px;
width: 80px;
}

.mobile-menu-link {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 2.8rem;
  background-color: #6070ffca;
  padding: 128px 0 0 23px;
  transition: all 1s ease;
}

/* Toolbar menu layout */
.mobile-hamburguer span {
  display: block;
  width: 30px;
  height: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #6070ff;
  box-shadow: 0 2px 2px #00000033;
  cursor: pointer;
  transition: .5s;
}

.mobile-hamburguer span:nth-child(1) {
  transform: translate(-50%,-50%) translateY(-10px);
  transition: .2s;
}

.mobile-hamburguer span:nth-child(4) {
  transform: translate(-50%, 50%) translateY(5px);
  transition: .2s;
}

.mobile-hamburguer.active span:nth-child(1) {
  transform: translate(-50%,-50%) translateY(-20px);
  opacity: 0;
}

.mobile-hamburguer.active span:nth-child(4) {
  transform: translate(-50%, 50%) translateY(20px);
  opacity: 0;
}

.mobile-hamburguer.active span:nth-child(2) {
  transform: translate(-50%,-50%) rotate(50deg) translateY(5px);
  transition-delay: 200ms;
}

.mobile-hamburguer.active span:nth-child(3) {
  transform: translate(-50%, 50%) rotate(-50deg) translateY(-5px);
  transition-delay: 200ms;
}

/* Headline */
.headline-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  border-bottom-left-radius: 100px;
  background: url(src/svg/header-shapes\ mobile@2x.svg);
  background-size: cover;
  background-color: #fff;
}

/* Headline title placeholder */
.headline-title {
  width: 327px;
  height: 180px;
  flex: none;
  order: 0;
  margin: 5px;
}

/* My headline title */
.title {
  font-style: normal;
  font-size: 2rem;
  line-height: 52px;
  padding: 8px;
}

/* Descriptcion placeholder */
.description-container {
  margin: 5px 15px;
  line-height: 24px;
  text-align: start;
}

/* My description */
.description-item {
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
}

/* Contact link placeholder */
.contact-links-container {
  width: 130px;
  height: 24px;
  margin: 20px 24px 2px 24px;
}

/* My link */
.link-item {
  font-size: 1rem;
  font-style: normal;
  line-height: 24px;
}

.link {
  color: #7f8cff;
  text-decoration: none;
  font-weight: 500;
  transition: color 200ms ease-out;
}

.link:hover {
  color: #3347fa;
}

/* Network placeholder */
.network-container {
  width: 175px;
  height: 40px;
  margin: 5px 24px;
}

/* My networoks icons */
.network-items {
  flex-grow: 1;
  padding: 1px;
  display: flex;
  column-gap: 19px;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  background-size: cover;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
  display: inline-block;
}

.picture {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: cover;
}

.twitter {
  background-image: url(src/Icons/twitter_icon.svg);
  transition: transform 200ms ease-in-out;
}

.twitter:hover {
  transform: scale(1.2);
}

.linkedlin {
  background-image: url(src/Icons/linkedin_icon.svg);
  transition: transform 200ms ease-in-out;
}

.linkedlin:hover {
  transform: scale(1.2);
}

.medium {
  background-image: url(src/Icons/medium_icon.svg);
  transition: transform 200ms ease-in-out;
}

.medium:hover {
  transform: scale(1.2);
}

.github {
  background-image: url(src/Icons/github_icon.svg);
  transition: transform 200ms ease-in-out;
}

.github:hover {
  transform: scale(1.2);
}

.peace {
  background-image: url(src/Icons/peace_icon.svg);
  transition: transform 200ms ease-in-out;
}

.peace:hover {
  transform: scale(1.2);
}

/* work section placeholder */
.work-projects {
  height: 580px;
  margin: 100px 24px;
  border-radius: 16px;
  display: grid;
  gap: 1px;
  grid-template-areas: "header header header" "description description description" "footer footer footer";
}

/* work grid items */
.item {
  width: 100%;
  margin-top: 5px;
}

/* grid item header */
.project-header {
  grid-area: header;
  padding: 20px 20px 10px;
  height: 100%;
}

/* my grid item header */
.project-img-container {
  display: flex;
  width: 100%;
  height: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: #fa9c66;
  border-radius: 8px;
}

.project-img-container-b {
  display: flex;
  width: 100%;
  height: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: #f6ead4;
  border-radius: 8px;
}

.project-img-container-c {
  display: flex;
  width: 100%;
  height: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 8px;
}

.header-img-a {
  width: 95%;
  height: 90%;
  padding: 15px;
}

.header-img-b {
  width: 95%;
  height: 90%;
  padding: 15px;
}

/* grid item description */
.project-description {
  grid-area: description;
  padding: 10px;
}

/* description placeholder */
.project-title-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

/* my grid title items */
.description-title {
  width: 100%;
  padding-left: 12px;
  font-size: 1.6rem;
}

/* my grid subtitle items  */
.project-subtitle-container {
  width: 100%;
}

.subtitle-items {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-left: 16px;
}

.list-less {
  list-style: none;
  font-size: 0.8rem;
  font-weight: 500;
}

.list {
  font-size: 0.7rem;
  opacity: 0.5;
}

.list::marker {
  font-size: 20px;
  opacity: 0.5;
}

/* my grid description text */
.project-article-container {
  width: 100%;
  margin-top: 10px;
  padding-left: 16px;
}

/* my grid footer tag item */
.project-tag-container {
  width: 100%;
  margin: 20px 0;
  padding-left: 25px;
}

.tag-item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  color: #6070ff;
}

.tag-btn {
  text-decoration: none;
  font-size: 0.85rem;
  padding: 4px 12px;
  background-color: #ebebff;
  border-radius: 8px;
  font-weight: 500;
  color: #6070ff;
  transition: color 200ms ease-out, background-color 200ms ease-out;
}

.tag-btn:hover {
  color: #fff;
  background-color: #6070ff;
}

/* project buttom placeholder */
.project-buttom-container {
  width: 100%;
  display: flex;
  padding-left: 14px;
  justify-content: flex-start;
  align-items: center;
}

/* my grid footer buttom */
.project-buttom {
  padding: 10px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  background-color: transparent;
  color: #6070ff;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 500ms ease-out, color 500ms ease-out;
}

.project-buttom:hover {
  background-color: #6070ff;
  color: #fff;
}

.project-buttom-b {
  padding: 10px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  background-color: transparent;
  color: #396df2;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 500ms ease, color 500ms ease-out;
}

.project-buttom-b:hover {
  background-color: #6070ff;
  color: #fff;
}

/* about myself placeholder */
.about-project {
  width: 100%;
  margin: 2px;
  background-color: #fff;
  border-top-right-radius: 100px;
  padding: 10px 10px 100px 10px;
}

/* my about myself title */
.about-title-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 114px 24px 0;
  align-items: flex-start;
}

.about-title {
  font-size: 2.5rem;
  color: #172b4d;
}

/* my about myself description */
.about-description-container {
  margin: 10px 15px 0;
}

/* about knowledge placeholder */
.about-knowledge-container {
  margin: 10px 16px;
}

.skill-container {
  display: flex;
  flex-direction: row;
  padding: 10px 0 20px 0;
  margin-bottom: 5px;
  border-bottom: 1px solid #dfe1e6;
  position: relative;
}

.skill-container#active {
  border: none;
}

.skill-title li {
  list-style: none;
}

.link-skill {
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  color: #000;
}

/* my list vector-icon */

.vector-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 16.5px;
  right: 10px;
  background-color: #6171ff;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  cursor: pointer;
}

.code-langguage-container {
  width: 100%;
}

.code-items {
  display: flex;
  margin-top: 5px;
  flex-direction: column;
}

.code {
  margin: 10px;
  padding: 10px;
  background-color: #f7f7f9;
  list-style: none;
  border-radius: 10px;
}

.code-title {
  font-size: 0.9rem;
}

.code-template {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.code-img-a {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 2px;
  background-image: url(src/code_icon_a.PNG);
  background-size: cover;
}

.code-img-b {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 2px;
  background-image: url(src/code_icon_b.PNG);
  background-size: cover;
}

.code-img-c {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 2px;
  background-image: url(src/code_icon_c.PNG);
  background-size: cover;
}

/* contact section placeholder */

.contact-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  margin-top: -76px;
  background-color: #6070ff;
  background-image: url(src/svg/contact\ form\ shapes-mobile.svg);
  background-size: cover;
  border-top-left-radius: 100px;
}

/* my title */

.contact-title-container {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #fff;
}

/* my contact description */

.contact-description-container {
  margin: 0 24px;
  text-align: center;
}

.contact-description {
  font-weight: 400;
  font-size: 1.2rem;
  color: #fff;
}

/* form placeholder */

.contact-form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* my contact items */

.input-client-info {
  padding: 15px;
  font-weight: 400;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #cfd8dc;
}

.client-message {
  padding: 15px;
  font-weight: 400;
  min-width: 100%;
  border-radius: 10px;
  border: 1px solid #cfd8dc;
  min-height: 150px;
  max-height: 180px;
  background-color: #fff;
  max-width: 100%;
}

.contact-button {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  letter-spacing: 1.5px;
  font-size: 1rem;
  font-weight: 500;
  color: #6070ff;
  cursor: pointer;
  transition: background-color 500ms ease-out, color 500ms ease-out;
}

.contact-button:hover {
  background-color: #3e50f1;
  color: #fff;
}

.contact-button:focus {
  border: solid 1px #fff;
}
